@import url("https://fonts.googleapis.com/css2?family=family=Mooli&display=swap");
:root 
{
    --primary-color: #52489c;
    --secondary-color: #59c3c3;
    --accent-color: #f45b69;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica,sans-serif;
    --secondary-font: Mooli, san-serif;
}

body 
{
    font-family: var(--primary-font);
    font-size: 1.2em;
}

.menuButton
{
    color: var(--text-light);
    background-color: var(--primary-color);
    border: none;
    font-size: 1.2em;
}

header
{
    background-color: var(--primary-color);
    text-align: center;
    color: var(--text-light);
    padding: 1em;
}

.links
{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-light);
}
a:link
{
    color: var(--text-light);
}
a:visited 
{
    color: var(--accent-color);
}
.links.show
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.links.hide
{
    display: none;
}
.hide
{
    display: none;
}

main h1
{
    text-align: center;
    /* padding: 1em; */
}

.pictures
{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    padding: 1em;
}

figure
{
    display: flex;
    justify-content: center;
}
.pictures img
{
    height: 350px;
    width: 350px;
    border: 10px solid white;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

footer
{
    background-color: var(--primary-color);
    color: var(--text-light);
    padding: 1em;
}

.enhance
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.enhance.hide
{
    display: none;
}

.enhance-img
{
    max-width: 100vw;
    max-height: 100vh;
    object-fit: contain;
    box-shadow: 0 0 20px white;
}

.close-enhance
{
    position: absolute;
    top: 20px;
    right: 30px;
    background-color: var(--accent-color);
    border: none;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    padding: 1em 1em;
    border-radius: 50%;
}




/* @media screen and (min-width: 700px) */
@media screen and (min-width: 720px)
{
    .menuButton
    {
        padding: 1em;
    }
    .links
    {
        display: none;
    }
    .pictures
    {
        grid-template-columns: 1fr 1fr;
    }
}

/* @media (min-width: 1000px) */
@media (min-width: 1200px) 
{
    header
    {
        text-align: center;
    }
    .menuButton
    {
        display: none;
    }
    .links
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1em;
        padding: 1em;
    }
    .pictures
    {
        grid-template-columns: 1fr 1fr 1fr;
    }

}