:root
{
    /* --banner-color: rgb(100, 3, 255); */
    --banner-color: #52489c;
    --secondary-color: #59c3c3;
    --text-color: #ebebeb;
    --text-dark: #333;
    --accent-color: #f45b69;
    --primary-font: Arial, Helvetica, sans-serif;
    --secondary-font: Mooli, san-serif;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hide {
	display: none;
}
.viewer
{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    display: grid;
    place-items: center;
}
.close-viewer
{
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
}
.viewer img
{
    max-height: 100%;
    /* max-width: 100%; */
}

body
{
    display: grid;
    font-size: 1.2em;
    font-family: var(--font-family);
    margin: auto;
}

header
{
    color: var(--text-color);
    background-color: var(--banner-color);
    padding: 20px;
    text-align: center;
}
header h1
{
    margin: 10px;
}

main
{
    padding: 20px;
}
main h2
{
    text-align: center;
    padding: 1em;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}
.gallery figure {
    margin: 1em;
}

.gallery img {
    height: 250px;
    object-fit: contain;
    object-position: center;
    border: 10px solid var(--text-color);
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    align-self: center;
}

footer
{
    bottom: 0;
    width: 100%;
    color: var(--text-color);
    background-color: var(--banner-color);
    padding: 20px;
}

img
{
    max-width: 100%;
}

a:link, a:visited 
{
  color: var(--accent-color);
}

@media screen and (min-width: 700px)
{
    .gallery
    {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1000px)
{
    .gallery
    {
        grid-template-columns: repeat(3, 1fr);
    }    
}