:root
{
    --primary-color: #efc69b;
    --secondary-color: #af1b3f;
    --text-color: white;
    --text-dark: #473144;
    --primary-font: Helvetica, Arial, sans-serif;
    --secondary-font: Lora, Impact, serif;
}

body
{
    font-family: var(--primary-font);
    border: 1px solid black;
    font-size: 16px;
}
.title
{
    text-align: center;
    grid-template-rows: 1fr;
    padding: 10px;
}
.book img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header
{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 30px;
    border-top: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}
.links
{
    grid-column: 3;
}
.navigation
{    
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    padding: 10px;
}
.navigation li a
{
    text-decoration: none;
    color: var(--secondary-color);
    margin-left: 10px;
}


main
{
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 30px;
}
.info   
{
    /* border: 1px solid var(--primary-color); */
    grid-column: 1;
    text-align: right;
}
.book
{
    /* border: 1px solid var(--primary-color); */
    grid-column: 2;
}
.filter
{
    grid-column: 3;
    grid-row: end;
    border: 1px solid var(--primary-color);
}